<ion-header [translucent]="true">
  <ion-toolbar class="titulo_arriba">
    <ion-title>
      TeLLevoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img  src="assets/images/logo.png" alt="LogoDuoc">

  <div class="log">

    <ion-item class="item">

      <ion-label position="floating">      <ion-icon name="person-circle-outline"></ion-icon> Usuario</ion-label>
      <ion-input class="input" [(ngModel)]="user.usuario"></ion-input>
    </ion-item>


    <ion-item class="item">
      <ion-label position="floating"> <ion-icon name="lock-closed-outline"></ion-icon> Contraseña</ion-label>
      <ion-input class="input" type="password"  [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <a  style="float: right;" routerLink="/restabler">¿Has Olvidato tu Contraseña?</a>
    <ion-button color="warning" (click)="inicio()" >Ingresar</ion-button>
    <div class="a">  
      <ion-footer>
        <ion-toolbar>
          <ion-title class="version">V 0.0.1</ion-title>
        </ion-toolbar>
      </ion-footer>
    </div> 
    
  </div>
</ion-content>
