<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ej01 - Components
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="mapbox" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="mapbox">
        <ion-icon name="musical-notes-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="dos">
        <ion-icon name="play-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
